/* Shop by pet session*/
.shop-pet-type {
    padding: 0px 100px 0px 100px;

}

.pet-type-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pet-type-title .text {
    flex-grow: 0;
    font-size: 32px;
    font-weight: bold;
    display: block;
    position: relative;
}

/* .pet-type-title .text div {
    display: inline-block;
} */

.pet-type-title .text img.paw1 {
    display: inline-block;
    position: absolute;
    top: -10px;
    right: 2px;
}

.pet-type-title .text img.paw2 {
    display: inline-block;
    position: absolute;
    top: -12px;
    right: -30px;
}

.shop-pet-type .icons button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: var(--grey-background-header);
}

.shop-pet-type .icons button:hover {
    cursor: pointer;
    color: white;
    background-color: var(--hover-color);
}

.shop-pet-type .pet-type {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.shop-pet-type .pet-type .element {
    width: 300px;
    height: 122px;
    border-radius: 0.25rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shop-pet-type .pet-type .element button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: var(--grey-background-header);
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-pet-type .pet-type .element button i {
    font-size: 10px;
    font-weight: bold;
}

.shop-pet-type .pet-type .element button:hover {
    background-color: var(--hover-color);
    color: white;
}

.shop-pet-type .pet-type .element .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-pet-type .pet-type .element:hover {
    cursor: pointer;
    border: 1px solid var(--hover-color);
    border-style: dashed;
}

.pet-type .element:hover div.type-name {
    color: var(--hover-color);
    font-size: 14px;
    font-weight: bold;
}

.pet-type .element:hover button {
    background-color: var(--hover-color);
    color: white;
}