/* Banner 1 */
.banner1 {
    padding: 0px 100px 0px 100px;
    margin-top: 50px;
    position: relative;
}

.banner1 div.buttons {
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    background-color: var(--violet-color);
    position: absolute;
    top: 150px;
    right: 150px;
}

.banner1 div.buttons button {
    background-color: var(--grey-background);
}

.banner1 div.buttons:hover {
    cursor: pointer;
}

.banner1 div.buttons span {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.banner1 div.buttons button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    font-size: 12px;
}

.banner1 div.buttons button:hover {
    cursor: pointer;
    background-color: var(--hover-color);
    color: white;
}